/SampleGradleProject/
/SampleMavenProject/
/SampleAntProject/
/Badami642Test/nbproject/private/
/Badami642Test/
/Testing/nbproject/private/
/JavaApplication7/nbproject/private/
/LinkedLists/build/
/StacksQueuesDeques/build/
/Week2Movies/build/
/StacksQueuesDeques/nbproject/private/
/Week2Movies/nbproject/private/
